/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall#wall  #tag-2 {
  display: none;
}

#wall#wall #tag-3 {
  display: none;
}

#wall#wall #tag-4 {
  display: none;
}

#wall#wall #tag-5 {
  display: none;
}

#wall#wall #tag-6 {
  display: none;
}

#wall#wall #tag-7 {
  display: none;
}
